<%# Select Categories %>

<%= render 'form', locals: { step: step, steps: @steps } do |f| %>
  <%= render "podcast_steps/progress_bar", wizard_steps: @steps %>
  <div class="bg-white rounded-xl shadow-sm border border-gray-200 overflow-hidden">
    <div class="p-8">
      <div class="field mb-4">
        <%= f.label :primary_category, class: "block text-md font-medium text-black" %>
        <%= f.text_field :primary_category, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm" %>
      </div>
      <div class="field mb-4">
        <%= f.label :secondary_category, class: "block text-md font-medium text-black" %>
        <%= f.text_field :secondary_category, placeholder: "(optional)", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm" %>
      </div>
      <div class="field mb-4">
        <%= f.label :tertiary_category, class: "block text-md font-medium text-black" %>
        <%= f.text_field :tertiary_category, placeholder: "(optional)", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm" %>
      </div>
    </div>
  </div>
  <%= render "podcast_steps/pagination", f: f, step: step %>
<% end %>
