<%# Website Details %>

<%= render 'form', locals: { step: step, steps: @steps } do |f| %>
  <%= render "podcast_steps/progress_bar", wizard_steps: @steps %>
  <div class="bg-white rounded-xl shadow-sm border border-gray-200 overflow-hidden">
    <div class="p-8">
      <h1 class="text-lg font-bold text-black mb-1">Podcast Website</h1>
      <p class="text-sm text-gray-500 mb-4">Add your website as a way to promote and share with your listeners.</p>
      <div class="field mb-4">
        <%= f.label :website_url, class: "block text-md font-medium text-black" %>
        <%= f.text_field :website_url, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
      </div>
    </div>
  </div>
  <%= render "podcast_steps/pagination", f: f, step: step %>

<% end %>
